h4 プロフィールを編集する
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :email, class: 'required-label'
    = f.email_field :email
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    div
      | Currently waiting confirmation for:
      = resource.unconfirmed_email
  .field
    = f.label :name, '氏名（本名）※公開されません'
    = f.text_field :name
  .field
    = f.label :nickname, 'ライターネーム ※公開されます'
    = f.text_field :nickname
  .field
    = f.label :introduction, '簡単な自己紹介　※公開されます'
    = f.text_area :introduction
  .field
    = f.label :image_url
    = f.text_field :image_url
  .field
    = f.label :password, '新しいパスワード（任意）'
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation, '新しいパスワードの確認（任意）'
    = f.password_field :password_confirmation, autocomplete: "off"
  p.alert 更新するために、下記に現在のパスワードを必ず入力してください。
  .field
    = f.label :current_password, '現在のパスワード（必須）', class: 'required-label'
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "登録する", class: 'btn'
