h5 Omps!のライターに登録する
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :name, '氏名（本名）※公開されません'
    label.required 必須
    = f.text_field :name
  .field
    = f.label :nickname, 'ライターネーム ※公開されます'
    label.required 必須
    = f.text_field :nickname
  .field
    = f.label :introduction, '簡単な自己紹介　※公開されます'
    = f.text_area :introduction
  .field
    = f.label :email
    label.required 必須
    br
    = f.email_field :email
  .field
    = f.label :password
    label.required 必須
    - if @validatable
      label
        | （
        = @minimum_password_length
        |  文字以上）
    br
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    label.required 必須
    br
    = f.password_field :password_confirmation, autocomplete: "off"

  .actions
    = f.submit "登録する", class: 'btn waves-effect waves-light'
= render "devise/shared/links"
