.row
  .col.s12.l12#write-article-wrapper
    = form_for(@article, url: url, method: method) do |f|
      - if @article.errors.any?
        #error_explanation
          h2 = "#{pluralize(@article.errors.count, "")} つのエラーがあります。"
          ol
            - @article.errors.full_messages.each do |message|
              li = message

      .field
        = f.label :title
        label.required 必須
        label.counter-label.first-label ※現在
        label.counter.js-title-counter -
        label.counter-label 文字（文字数の目安:30〜40文字）
        = f.text_field :title, placeholder: '例）【海外でも大人気】BABY METAL（ベビーメタル）のおすすめ人気曲まとめ'
      .field
        = f.label :description
        label.required 必須
        label.counter-label.first-label ※現在
        label.counter.js-desc-counter -
        label.counter-label 文字（文字数の目安:120〜130文字）
        = f.text_area :description
      .field.rich-textarea
        = f.label :content
        label.required 必須
        label.counter-label.first-label 文字数の目安:1,500〜2,000文字
        br
        label.required-label 画像を使うときは画像URLを貼って下さい。アップロードはできません。また、Heading1は使用不可です。
        = f.text_area :content , class: 'textarea-lg'
      .field
        = f.label :main_image_url
        label.required 必須
        label.counter-label.first-label ※一覧ページ及びシェアの時に表示されます。
        = f.text_field :main_image_url, placeholder: '例）http://www.freebit.com/images/goosehouse.jpg'
      .field
        = f.label :tags
        label.counter-label.first-label ※複数の場合は「, 」で区切る（半角のコンマ。スペースなし）
        = text_field :article, :tags, value: @article.tags.map{ |_tag| _tag.name }.join(','), placeholder: '例) バンド,今話題,Goose House'
      .field
        = f.check_box :is_draft
        = f.label :is_draft, '下書きとして保存'
      - if current_admin_user.manager? && params[:action] == 'edit'
        .field
          = f.check_box :is_public
          = f.label :is_public, '公開'
      br
      .actions = f.submit '保存する', class: 'btn waves-effect waves-light'

  .col.s12.l8#preview-wrapper
    .page-header
      p
        i.mdi-editor-border-color
        | プレビュー
    p.btn.waves-effect.waves-light#js-reload-preview 更新
    = render 'shared/preloader'
    .article-show-wrapper
      .article-show-main-header
        h1.article-title#title-preview
        p.article-desc#desc-preview
      .markdown
        #content-preview

= javascript_include_tag 'main/articles'
= javascript_include_tag 'main/richtext'
= javascript_include_tag 'main/text_counter'
= javascript_include_tag 'main/text_preview'

javascript:
  $('.modal-trigger').leanModal();
