#writing-style-modal.modal
  h4 記事の書き方
  p 記事はマークダウン記法という書き方で書きます。

  h5 1. 見出しの書き方
  p 見出しを書くときには、#をつけます。
  p.example （書き方の例）
  p # 見出しです。
  p.example （表示のされ方）
  .markdown
    p = markdown("# 見出しです。")

  p また##と書くと、小見出しになります。
  p.example （書き方の例）
  p ## 小見出しです。
  p.example （表示のされ方）
  .markdown
    p = markdown("## 小見出しです。")

  h5 2. 画像の挿入方法
  p 画像を入れるときには、下記のように書きます。また、引用元も記載してください。（アスタリスクで囲む）
  p.example （書き方の例）
  p ![画像の説明テキスト](画像URL)
  p
    | *引用元:Flickr*
  p.example （表示のされ方）
  .markdown
    p = markdown("![Goose House](http://www.freebit.com/press/images/201311/20131113_fbm_goosehouse_02.jpg)")
    p = markdown("*引用元:Flickr*")

  h5 3. Youtube動画の埋め込み方法
  p Youtube動画を埋め込むときには、Youtubeの動画ページの動画の下にある「共有」→「埋め込みコード」を選択し、コードをコピーしてから、貼り付けて下さい。また、埋め込みコードを貼り付けたあと、埋め込みコードの次の行に、引用元を書いて下さい。
  p "<iframe width="560" height="315" src="//www.youtube.com/embed/ONNFHTOueXo" frameborder="0" allowfullscreen></iframe>"
  p = markdown("*引用元:Youtube*")

  h5 4. テキストの引用をする方法
  p テキストを引用する場合は、下記のように書いて下さい。
  p.example （書き方の例）
  p > 引用文がここに入ります。
  p > 引用文がここに入ります。
  p > *引用元をここに書きます*
  p.example （表示のされ方）
  .markdown
    p = markdown("> 引用文がここに入ります。<br>引用文がここに入ります。<br> *引用元をここに書きます*")
