.col.s12
  ul.tabs
    li.tab.col.s2.l6
      a href='#published' 公開済み (#{@published_articles.total_count}件)
    li.tab.col.s2.l6
      a href='#draft' 下書き (#{@draft_articles.total_count}件)
#published
  table.striped
    thead
      tr
        th 日付
        th タイトル
        th 獲得PV
        th
    tbody
      - @published_articles.each do |article|
        tr
          td = time_display(article.created_at)
          td = link_to(article.title, admin_article_path(article))
          td = article.footprints.count
          td = link_to '編集', edit_admin_article_path(article)
  = paginate @published_articles, window: 1
#draft
  table.striped
    thead
      tr
        th 日付
        th タイトル
        th 獲得PV
        th
    tbody
      - @draft_articles.each do |article|
        tr
          td = time_display(article.created_at)
          td = link_to(article.title, admin_article_path(article))
          td = article.footprints.count
          td = link_to '編集', edit_admin_article_path(article)
  = paginate @draft_articles, window: 1
javascript:
 $('ul.tabs').tabs();
 $.materialize.init();
