.row.article-show-wrapper
  .col.s12.l8.main-col
    .article-show-sub-header
      p.article-date
        = time_display(@article.created_at)
        | 更新
      p
        = link_to '本サイトで記事を見る', article_path(@article)
    .article-show-main-header
      h1.article-title = @article.title
      p.article-desc = @article.description
    .article-show-content.markdown
      p = markdown(@article.content)
= link_to '編集する', edit_admin_article_path(@article), class: 'btn waves-effect waves-light'
= javascript_include_tag 'main/articles'
