= render 'adsense/column_top'
- if @rankings.present?
  .title-section
    p
      i.mdi-action-trending-up
      | アクセスランキング
    small 昨日人気のあったまとめ
- @rankings.each do |ranking|
  .article-list-wrapper.side-list-wrapper
    .card
      .col.s4.l4
        .thumbnail.thumbnail-small style="background-image: url('#{ranking.main_image_url}');"
      .col.s8.l8
        - if ranking.tags.map {|_tag| _tag.name }.include?('動画')
          p.article-title
            a rel='nofollow' href=article_path(ranking) #{ranking.title}
        - else
          p.article-title = link_to(ranking.title, article_path(ranking))
        p.article-desc = truncate(ranking.description, length: 30)
= render 'adsense/column_middle'
.title-section
  p
    i.mdi-image-audiotrack
    | 新着のまとめ
  small 新着トレンドをゲットしよう
- @latests.each do |latest|
  .article-list-wrapper.side-list-wrapper
    .card
      .col.s4.l4
        .thumbnail.thumbnail-small style="background-image: url('#{latest.main_image_url}');"
      .col.s8.l8
        - if latest.tags.map {|_tag| _tag.name }.include?('動画')
          p.article-title
            a rel='nofollow' href=article_path(latest) #{latest.title}
        - else
          p.article-title = link_to(latest.title, article_path(latest))
        p.article-desc = truncate(latest.description, length: 40)
= render 'adsense/column_bottom'
