.row.article-show-wrapper
  article.col.s12.l8.main-col
    .article-show-sub-header
      p.article-date
        = time_display(@article.created_at)
        | 更新
      - if request.user_agent =~ /Android|iPhone/
        br
      - @article.tags.limit(3).each do |tag|
        = link_to "#{tag.name}(#{tag.articles_count})", tag_path(tag.name), class: 'article-tags'
    .article-show-main-header
      h1.article-title = @article.title
      p.article-desc = @article.description
      = render 'shared/social'
      p.footprints
        = @article.footprints.count
        small views
      br
      = render 'adsense/article_top'
      br
      - if current_admin_user && current_admin_user.manager? || current_admin_user && current_admin_user.member?
        .card.blue-grey.darken-1.admin-info-card
          .card-content.white-text
            span.card-title 記事情報
            p ライター: #{@article.admin_user.name}
            p 最終更新日: #{time_display(@article.updated_at)}
          .card-action
            = link_to '編集する', edit_admin_article_path(@article)
    .article-show-content.markdown
      p = markdown(@article.content)
    = render 'adsense/article_bottom'
    .article-show-footer
      = render 'shared/social'
      br
      .facebook-likebox-wrapper
        p いいね！を押して人気・話題の音楽情報を受け取ろう
        = render 'shared/facebook'
  aside.col.s12.l4.side-col
    = render 'side_col'
#js-goto-top.btn-floating.waves-effect.waves-light
  i.mdi-hardware-keyboard-arrow-up
= render 'adsense/window_fixed_bottom'

= javascript_include_tag 'main/articles'
= javascript_include_tag 'main/scroll'
