meta property="og:site_name" content="Brand Name"
// 詳細ページ
- if params[:controller] == 'articles' && params[:action] == 'show'
  title #{@article[:title]} | Brand Name
  meta name="description" content="#{@article[:description].gsub(/(\r\n|\r|\n)/, "")}"
  meta property="og:title" content="#{@article[:title]}"
  meta property="og:type" content="article"
  meta property="og:description" content="#{@article[:description]}"
  meta property="og:url" content="#{request.original_url}"
  meta property="og:image" content="#{@article[:main_image_url]}"
  meta name="twitter:card" content="summary" 
  meta name="twitter:site" content="@account_name"
  meta name="twitter:title" content="#{@article[:title]}"
  meta name="twitter:description" content="#{@article[:description]}"
  - if @article.tags.map{ |_tag| _tag.name }.include?('動画')
    meta name="robots" content="noindex"

// 一覧ページの２枚目以降
- elsif params[:page].present?
  title #{params[:page]}ページ目 - Brand Name
  meta name="description" content="Brand Description"
  meta name="robots" content="noindex"
  meta property="og:title" content="Brand Name"
  meta content="website" property="og:type"
  meta property="og:description" content="Brand Description"
  meta property="og:url" content="#{request.original_url}"
  - ogp_path = asset_path "index_ogp.png"
  meta  property="og:image" content="http://site-url#{ogp_path}"

- elsif params[:controller] == 'tags' && params[:page].present?
  title 「#{@tag.name}」に関するまとめ #{params[:page]}ページ目| Brand Name
  = render '/shared/meta_basic'

- elsif params[:controller] == 'tags'
  title 「#{@tag.name}」に関するまとめ | Brand Name
  = render '/shared/meta_basic'

// その他
- else
  title Brand Name
  = render '/shared/meta_basic'
// 一覧ページの二枚目以降
- if params[:page].to_i > 1 || params[:controller] =~ /admin|admin_users|tags/
  meta name="robots" content="noindex"
