meta name="description" content="Brand Description"
meta property="og:title" content="Brand Name"
meta content="website" property="og:type"
meta property="og:description" content="Brand Description"
meta property="og:url" content="#{request.original_url}"
- ogp_path = asset_path "logo.png"
meta  property="og:image" content="http://site-url#{ogp_path}"

meta name="twitter:card" content="summary"
meta name="twitter:site" content="@twitter_account"
meta name="twitter:title" content="Brand Name"
meta name="twitter:description" content="Brand Description"
