.preloader-wrapper.small
  .spinner-layer.spinner-blue
    .circle-clipper.left
      .circle
    .gap-patch
      .circle
    .circle-clipper.right
      .circle
  .spinner-layer.spinner-red
    .circle-clipper.left
      .circle
    .gap-patch
      .circle
    .circle-clipper.right
      .circle
  .spinner-layer.spinner-yellow
    .circle-clipper.left
      .circle
    .gap-patch
      .circle
    .circle-clipper.right
      .circle
  .spinner-layer.spinner-green
    .circle-clipper.left
      .circle
    .gap-patch
      .circle
    .circle-clipper.right
      .circle
