- if request.user_agent =~ /Android|iPhone/
  .social-btns#share
    ul.clearfix
      li.facebook#share-facebook.z-depth-1
        a href="http://www.facebook.com/share.php?u=#{request.original_url}" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"
          = image_tag 'facebook.png'
      li.twitter#share-twitter.z-depth-1
        a href="http://twitter.com/share?url=#{request.original_url}&text=「#{@article[:title]}」- Brand Name" target="_blank"
          = image_tag 'twitter.png'
      li.line.z-depth-1
        a.line href="http://line.me/R/msg/text/?「#{@article.title}」 | Brand Name #{request.original_url}"
          = image_tag 'line.png'
      li.mixi.z-depth-1
        a href="javascript:void(0);" onclick="window.open('http://mixi.jp/share.pl?u=#{request.original_url}&k=881889fd99370ff5d81f0973a15a5815a8f2dc5e','share',['width=632','height=456','location=yes','resizable=yes','toolbar=no','menubar=no','scrollbars=no','status=no'].join(','));"
          = image_tag 'mixi.png'
      li.facebook-like
        .fb-like data-action="like" data-href="https://www.facebook.com" data-layout="box_count" data-share="false" data-show-faces="false"
- else
  ul.social-button
    li.facebook-pc
      .fb-like data-href="#{request.original_url}" data-layout="button_count" data-send="false" data-show-faces="false" data-width="130"
    li.twitter-pc
      a.twitter-share-button data-count="horizontal" data-lang="jp" data-text="#{@article[:title]}" data-url="#{request.original_url}" href="https://twitter.com/share"  Tweet

    li.hatena-pc
      a.hatena-bookmark-button data-hatena-bookmark-layout="standard" data-hatena-bookmark-title="#{request.original_url}" href="http://b.hatena.ne.jp/entry/#{request.original_url}" title="このエントリーをはてなブックマークに追加"
        img alt="このエントリーをはてなブックマークに追加" height="20" src="http://b.st-hatena.com/images/entry-button/button-only.gif" style=("border: none;") width="20" /
      script async="async" charset="utf-8" src="http://cdn-ak.b.st-hatena.com/js/bookmark_button.js" type="text/javascript"
    li.google-pc
      script src="https://apis.google.com/js/plusone.js" type="text/javascript"
      .g-plusone data-href="#{request.original_url}" data-size="medium"
    li.pocket-pc
      a.pocket-btn data-lang="en" data-pocket-count="horizontal" data-pocket-label="pocket"

#fb-root
javascript:
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=190737517741861&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  !function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");
