@import modules
//////////////////////////////////////
// 記事のリストの表示
//////////////////////////////////////
.main-col
  @media screen and (max-width: 480px)
    padding-right: 0!important
.draft-article
  background-color: #f8f8f8
.article-list-wrapper
  display: table
  width: 100%
  height: 100px
  @media screen and (max-width: 480px)
    margin-bottom: 10px
  > div
    display: table-cell
    vertical-align: middle
    height: 100%
  .article-title
    font-size: 16px
    line-height: 1.3em
    margin-bottom: 5px
    margin-top: 5px
    &:hover
      a
        text-decoration: underline
    @media screen and (max-width: 480px)
      font-size: 13px
    a
      color: #e65100
      display: block
  .article-desc
    font-size: 11px
    color: $sub_text
    margin-bottom: 2px
    margin-top: 0
    @media screen and (max-width: 480px)
      display: none
  .article-writer,
  .article-footprints,
  .split-separator
    margin: 0
    margin-right: 5px
    color: $sub_text
    font-size: 11px
    a
      color: $sub_text

// リスト表示の際のサムネイル画像
.thumbnail
  width: 100%
  height: 95px
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  background-color: #eee
  margin-top: 5px
  margin-bottom: 5px
  @media screen and (max-width: 480px)

.thumbnail-small
  width: 100%
  height: 80px

.side-col
  @media screen and (max-width: 480px)
    padding-right: 0!important
.side-list-wrapper
  margin-bottom: 20px
  @media screen and (max-width: 480px)
    margin-bottom: 10px
  .article-title
    font-size: 12px
    color: red
    @media screen and (max-width: 480px)
      font-size: 13px
      line-height: 1.3em
.side-list-wrapper + .title-section
  margin-top: 20px

//////////////////////////////////////
// 記事の詳細ページ
//////////////////////////////////////
.article-show-wrapper
  .main-col
    padding-right: 40px!important
    @media screen and (max-width: 480px)
      padding-right: 0!important
  .article-show-sub-header
    p
      display: inline-block
      color: $sub_text
      font-size: 11px
      margin: 0
    .article-date
      margin-right: 30px
    .article-tags
      margin-right: 10px
      padding: 2px 0px
      color: #999
      text-decoration: underline
      font-size: 11px
      &:hover
        text-decoration: none
  .article-show-main-header
    .article-title
      font-size: 26px
      line-height: 1.3em
      font-weight: 700
      margin: 10px 0
      @media screen and (max-width: 480px)
        font-size: 16px
    .article-desc
      font-size: 12px
      font-height: 1.6em
      margin-bottom: 15px
      @media screen and (max-width: 480px)
        font-size: 11px
    .snsb,
    .footprints
      margin: 0
      display: inline-block
      height: 40px
      width: auto
      vertical-align: middle
    .footprints
      font-size: 22px
      font-weight: 700
      color: #555
      position: relative
      bottom: 5px
      small
        font-size: 11px
        color: $sub_text
        display: inline-block
        margin-left: 3px
        font-weight: 400
  .article-show-footer
    text-align: left
    .facebook-likebox-wrapper
      margin-top: 20px
      p
        font-size: 16px
        line-height: 1.4em
        font-weight: 700
        margin: 5px 0
        background-color: #f8f8f8
        padding: 5px 10px
        border-left: 2px solid $acc_color
        &:before
          content: '♪'
          color: $acc_color
        @media screen and (max-width: 480px)
          font-size: 13px

.header-cover
  width: 100%
  height: 100px
  position: relative
  text-align: center
  overflow: hidden
  margin-bottom: 20px
  img
    position: absolute
    left: -100%
    right: -100%
    top: -100%
    bottom: -100%
    margin: auto
    min-height: 100%
    min-width: 100%

.how-to-write
  font-size: 14px
  i
    margin-right: 5px
    position: relative
    top: 1px

//////////////////////////////////////
// マークダウンパーツ
//////////////////////////////////////
.markdown,
.froala-wrapper
  // defaul$acc_colok
  font-size: 14px
  line-height: 1.6em
  margin: 0
  h2
    font-size: 20px
    line-height: 1.4em
    font-weight: 700
    margin: 20px 0 10px 0
    border-bottom: 2px solid $acc_color
    margin-bottom: 5px
    @media screen and (max-width: 480px)
      font-size: 24px
  h3
    font-size: 16px
    line-height: 1.4em
    font-weight: 700
    margin: 0
    margin-top: 10px
    background-color: #f8f8f8
    padding: 5px 10px
    border-left: 2px solid $acc_color
    &:before
      content: '♪'
      color: $acc_color
    @media screen and (max-width: 480px)
      font-size: 18px
  h4, h5, h6
    font-size: 18px
    line-height: 1.4em
    font-weight: 700
    margin: 0
  p
    margin: 0
    @media screen and (max-width: 480px)
      font-size: 16px
      line-height: 180%
  // 出典
  em
    color: $sub_text
    font-size: 11px
    a
      color: $sub_text
  blockquote
    background-color: #f8f8f8
    padding: 5px 10px
    border-radius: 5px
    border-left: 0px solid #f8f8f8
  img
    max-width: 100%
    display: block
.iframe-wrapper
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.counter-label
  color: #999
.first-label
  margin-left: 10px
.counter
  color: #000
  font-weight: 700
  margin: 0 3px

#preview-wrapper
  .preloader-wrapper
    margin-left: 20px
    position: relative
    bottom: 8px
  .btn
    margin-top: 10px

.rich-textarea
  margin-bottom: 20px
.rich-textarea,
.markdown
  img + h6
    margin-top: -5px
    font-style: italic
    font-size: 10px
    color: #999
.template
  color: #444
.refer
  font-style: italic
  font-size: 10px!important
  color: #999

// richtext editorのoverride
.froala-editor button.fr-bttn, .froala-editor button.fr-trigger
  font-size: 10px!important
p.ft-tag
  margin: 0
  line-height: 200%
h2.fr-tag,
h3.fr-tag,
  margin: 0
  margin-top: 10px
  margin-bottom: 10px
h2.fr-tag
  font-size: 24px
.froala-element blockquote, blockquote.fr-tag
  margin-left: 0

.admin-info-card
  .card-content
    .card-title
      font-size: 18px
      margin: 0
      line-height: 150%
    p
      font-size: 14px
      line-height: 200%
