@import modules
//////////////////////////////////////
// 共通パーツ
//////////////////////////////////////
.textarea-lg
  height: 20rem

.title-section
  border-left: 3px solid $acc_color
  margin-bottom: 10px
  height: 40px
  padding: 5px 10px
  p
    margin: 0
    font-size: 16px
    font-weight: 700
    line-height: 16px
    i
      font-size: 22px
      position: relative
      top: 3px
      margin-right: 5px
  small
    color: #999
    font-size: 11px

.snsb
  width: auto
  li
    float: left
    margin: 0!important
  iframe
    margin: 0!important

.page-header
  height: 45px
  line-height: 50px
  font-size: 18px
  border-bottom: 3px solid #eee
  i
    margin-right: 5px
    vertical-align: baseline
    font-size: 22px
    position: relative
    top: 2px
//////////////////////////////////////
// 記事の書き方モダル
//////////////////////////////////////
#writing-style-modal
  h5
    border-left: 4px solid #999
    padding-left: 10px
  .example
    font-size: 14px
    font-weight: 700
    background-color: #ddd
    padding: 5px
    display: block
    margin: 5px 0

.required-label
  color: red
  font-weight: 700

#js-goto-top
  position: fixed
  bottom: 20px
  right: 20px
  z-index: 10000
  background-color: $acc_color

select
  display: block

.fixed
  position: fixed
  top: 0
  z-index: 10000
