@import modules
@import url(http://fonts.googleapis.com/css?family=Righteous)
@import url(http://fonts.googleapis.com/css?family=Snippet|Ramabhadra|Ceviche+One|NTR)
.navbar
  background-image: image-url('orange_bk.jpg')
  background-size: auto
  background-position: top center
  .nav-wrapper
    .brand-logo
      color: #fff
      font-size: 30px
      font-family: 'Righteous', cursive
      letter-spacing: .05em
      small
        font-size: 11px
        margin-left: .5em
        letter-spacing: .2em
        line-height: 30px
        vertical-align: middle
        @media screen and (max-width: 480px)
          font-size: 10px
.navbar-admin
  background-image: image-url('red_bk.jpg')
  background-position: center center

//////////////////////////////////////
// stickey bottom footer
//////////////////////////////////////
*
  margin: 0

html, body
  height: 100%

.page-wrap
  margin-top: 20px!important
  min-height: 100%
  //フッターの高さ
  margin-bottom: -180px
  &:after
    content: ""
    display: block
.footer, .page-wrap:after
  height: 180px

.footer
  height: 250px
  margin-top: 20px
  background-image: image-url('orange_bk.jpg')
  background-size: auto
  background-position: top left
  border-top: 1px solid #eee
  text-align: center
  h3
    font-size: 30px
    margin: 0
    margin-top: 10px
    color: #fff
    line-height: 150%
    font-family: 'Righteous', cursive
    letter-spacing: .05em
  a
    color: #fff
    text-decoration: underline
    font-size: 14px
  iframe
    background-color: rgba(#fff, .5)
    padding: 10px 5%
    margin-top: 10px
    #u_0_2
      color: #fff!important


.admin-footer
  background-image: image-url('red_bk.jpg')
  background-position: bottom center

