@import modules
.notice, .alert
  color: $acc_color
  color: #fff
  padding: 15px 10px
  background-image: image-url('notice.jpg')
  background-position: center right
  background-size: cover
  margin-bottom: 10px
  font-weight: 700
  letter-spacing: .15em

#error_explanation
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  background-image: image-url('alert.jpg')
  background-position: center right
  background-size: cover
  padding: 15px 10px
  color: #fff
  letter-spacing: .05em
  margin-bottom: 20px
  margin-top: 20px
  h2
    font-size: 18px
    margin: 0
    line-height: 1.4em
    font-weight: 700
    margin-bottom: 5px
  ol
    font-size: 14px
    li
      line-height: 1.6em
