@import modules
label
  color: #000
.required
  background-color: $acc_color
  border-radius: 5px
  color: #fff
  padding: 2.5px 5px
  margin-left: 5px
  margin-bottom: 5px
  margin-top: 5px
  display: inline-block
input[type=text],
input[type=password],
input[type=email],
input[type=date],
textarea
  border: 1px solid #bdbdbd
  background-color: #f8f8f8
  width: 94%
  padding-left: 3%
  padding-right: 3%
  &:focus
    border: 1px solid #03a9f4
    -webkit-box-shadow: 0 0px 0 0 #fff
    -moz-box-shadow: 0 0px 0 0 #fff
    box-shadow: 0 0px 0 0 #fff
  p
    margin-left: 10px
textarea
  overflow: auto
.admin-container
  max-width: 1200px
