@import modules
.pagination
  box-shadow: 0 0 0 #fff
  color: #000
  text-align: center
  height: auto
  a
    color: $acc_color
    display: block
    width: 100%
    height: 100%
    &:hover
      background-color: #eee
      color: #000
  span
    text-align: center
    display: inline-block
    border: 1px solid #eee
    border-radius: 5px
    width: 36px
    height: 36px
    line-height: 36px
    font-size: 12px
    margin: 0 6px
  .current
    background-color: #eee
  .gap
    border: 0 solid #fff
    line-height: 50px
    font-size: 16px
    position: relative
    bottom: 3px
    width: 20px
    color: #999
