/* アイコンフォント読み込み
@import url(http://weloveiconfonts.com/api/?family=fontawesome|zocial)

/* fontawesome

[class*="fontawesome-"]:before
  font-family: 'FontAwesome', sans-serif

/* zocial

[class*="zocial-"]:before
  font-family: 'zocial', sans-serif

/* シェア

#share
  ul
    margin: 0 auto
  li
    display: inline-block
    width: 18%
    margin: 0 2% 2% 0
    a
      position: relative
      display: block
      padding: 5px 0
      color: #fff
      font-size: 88%
      text-align: center
      line-height: 22px
      text-decoration: none
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3)
      img
        height: 44px
  .twitter a
    background: #00acee
  .facebook a
    background: #3b5998
  .line a
    background: #00c300
  .mixi a
    background: #F39C12
  .facebook-like
    margin-left: 1%
    .fb-like
      width: 100%
      height: 100%

.clearfix:after, .fixed:after
  content: "."
  display: block
  clear: both
  height: 0
  visibility: hidden

.clearfix, .fixed
  min-height: 1px

* html
  .clearfix, .fixed
    height: 1px

@media screen and (max-width: 479px)
  #share li
    float: left
    width: 19%
    margin: 0 1% 5% 0
    &:nth-child(4n)
      margin-right: 0

.social-button
  list-style-type: none
  margin: 0
  padding: 0
  margin-bottom: 10px
  li
    display: inline-block
    vertical-align: baseline
    margin: 0 5px 0 0
    padding: 0
  .facebook-pc
    position: relative
    bottom: 6px
    margin-right: 20px
  .hatena-pc
    margin-right: 20px
    position: relative
    left: -10px
  .pocket-pc
    position: relative
    top: 3px
    left: -10px

