h1 Listing tags

table
  thead
    tr
      th name
      th body
      th ancestry
      th
      th
      th

  tbody
    - @tags.each do |tag|
      tr
        td = tag.name
        td = tag.body
        td = tag.ancestry
        td = link_to 'Show', admin_tag_path(tag)
        td = link_to 'Edit', edit_admin_tag_path(tag)
        td = link_to 'Destroy', admin_tag_path(tag), data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Tag', new_admin_tag_path
