p#notice = notice

p
  strong Title:
  = @tag.name
p
  strong Description:
  = @tag.body
p
  strong Content:
  = @tag.ancestry

= link_to 'Edit', edit_admin_tag_path(@tag)
'|
= link_to 'Back', admin_tags_path
