.row
  h5.tag-title
    i.mdi-action-loyalty
    | 「#{@tag.name}」に関するまとめ
  section.col.s12.l8.main-col
    - @articles.each do |article|
      article.row.article-list-wrapper
        .card
          .col.s4.l2
            .thumbnail style="background-image: url('#{article.main_image_url}');"
          .col.s8.l10
            - if article.tags.map {|_tag| _tag.name }.include?('動画')
              p.article-title
                a rel='nofollow' href=article_path(article) #{article.title}
            - else
              p.article-title = link_to(article.title, article_path(article))
            p.article-desc = truncate(article.description, length: 82)
            span.article-writer = article.admin_user.try(:nickname)
            span.split-separator |
            span.article-footprints
              = article.footprints.count
              |  view
    - if request.user_agent =~ /Android|iPhone/
      = paginate @articles, window: 0
    - else
      = paginate @articles, window: 1
  aside.col.s12.l4.side-col
    = render 'articles/side_col'
