h5 ログイン
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    = f.email_field :email, required: true
  .field
    = f.label :password
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me, 'ログイン情報を記憶する'
  .actions
    = f.submit "ログインする", class: 'btn waves-effect waves-light'
= render "devise/shared/links"
