blockquote
  h5 #{current_admin_user.name}さんの作成した記事数
  - if can? :manager, current_admin_user
    p managerユーザーとしてログイン
  - if current_admin_user.member?
    p memberユーザーとしてログイン
  .xp-wrapper
    p
      | Lv.
      strong #{current_admin_user.get_experience_rank}
    p
      | Exp.
      strong #{comma_display(current_admin_user.footprints_count)}
      | （次のレベルまであと#{current_admin_user.need_exp_to_levelup}）
- if current_admin_user.name.blank? || current_admin_user.nickname.blank?
  p.alert まず最初に、あなたのプロフィールを登録してください。
  a.btn.btn-waves.btn-light href=edit_admin_user_registration_path プロフィール編集画面へ
.col.s12
  h5
    i.mdi-action-assessment
    | あなたが作成した記事数推移（１月）
  canvas#canvas2 height="350" width="800"
  ul.tabs
    li.tab.col.s2.l6
      a href='#published' 公開済み (#{@published_articles.total_count}件)
    li.tab.col.s2.l6
      a href='#draft' 下書き (#{@draft_articles.total_count}件)
#published
  table.striped
    thead
      tr
        th 日付
        th タイトル
        th 獲得PV
        th
    tbody
      - @published_articles.each do |article|
        tr
          td = time_display(article.created_at)
          td = link_to(article.title, admin_article_path(article))
          td = article.footprints.count
          td = link_to '編集', edit_admin_article_path(article)
  = paginate @published_articles, window: 1
#draft
  table.striped
    thead
      tr
        th 日付
        th タイトル
        th 獲得PV
        th
    tbody
      - @draft_articles.each do |article|
        tr
          td = time_display(article.created_at)
          td = link_to(article.title, admin_article_path(article))
          td = article.footprints.count
          td = link_to '編集', edit_admin_article_path(article)
  = paginate @draft_articles, window: 1
= javascript_include_tag 'admin/personal_chart'
javascript:
 $('ul.tabs').tabs();
 $.materialize.init();
