table.striped
  thead
    tr
      th 氏名
      th ニックネーム
      th アドレス
      th 属性
      th 作成記事数
      th 合計獲得PV
      th 属性
  tbody
    - @admin_users.each do |user|
      tr
        td = user.name || '未設定'
        td = user.nickname || '未設定'
        td = user.email
        td = user.role
        td = user.articles.published.count
        td = user.footprints_count
        - if current_admin_user.manager?
          td = select_tag :admin_user_role, options_for_select(AdminUser.roles, user[:role]), {class: 'js-change-role', data: { id: user[:id] }}
        - else
          td = user.role
= javascript_include_tag 'admin/admin_users'
