.col.s12
  ul.tabs
    li.tab.col.s2.l6
      a href='#published' 公開済み (#{@published_articles.total_count}件)
    li.tab.col.s2.l6
      a href='#draft' 下書き (#{@draft_articles.total_count}件)
    li.tab.col.s2.l6
      a href='#closed' 非公開 (#{@closed_articles.total_count}件)
#published
  blockquote
    h5 検索フォーム
    = search_form_for @search, url: admin_manager_articles_path do |f|
      .field
        = f.label :title, '記事のタイトル'
        = f.text_field :title_cont
      = f.submit '検索する', class: 'btn waves-effect waves-light'
  table.striped
    thead
      tr
        th 日付
        th タイトル
        th Writer
        th 獲得PV
        - if current_admin_user.manager?
          th
          th
    tbody
      - @published_articles.each do |article|
        tr
          td = time_display(article.created_at)
          td = link_to(article.title, admin_article_path(article))
          td = article.admin_user.try(:name)
          td = article.footprints.count
          - if current_admin_user.manager?
            td = link_to '編集', edit_admin_article_path(article)
            td = link_to '削除', admin_article_path(article), method: :delete, data: { confirm: '本当に消していいですか？' }
  = paginate @published_articles, window: 1
#draft
  table.striped
    thead
      tr
        th 日付
        th タイトル
        th Writer
        th 獲得PV
        th
        th
    tbody
      - @draft_articles.each do |article|
        tr
          td = time_display(article.created_at)
          td = link_to(article.title, admin_article_path(article))
          td = article.admin_user.try(:name)
          td = article.footprints.count
          td = link_to '編集', edit_admin_article_path(article)
          td = link_to '削除', admin_article_path(article), method: :delete, data: { confirm: '本当に消していいですか？' }
  = paginate @draft_articles, window: 1
#closed
  table.striped
    thead
      tr
        th 日付
        th タイトル
        th Writer
        th 獲得PV
        th
        th
    tbody
      - @closed_articles.each do |article|
        tr
          td = time_display(article.created_at)
          td = link_to(article.title, admin_article_path(article))
          td = article.admin_user.try(:name)
          td = article.footprints.count
          td = link_to '編集', edit_admin_article_path(article)
          td = link_to '削除', admin_article_path(article), method: :delete, data: { confirm: '本当に消していいですか？' }
  = paginate @published_articles, window: 1
javascript:
 $('ul.tabs').tabs();
 $.materialize.init();
