#rankings
  h5
    i.mdi-action-assessment
    | Brand Name全体の記事数推移
  canvas#canvas height="350" width="800"
  h5
    i.mdi-action-trending-up
    | 記事数ランキング
  canvas#articles_count_ranking height="350" width="800"
  h5
    i.mdi-action-trending-up
    | 獲得PVランキング
  canvas#footprints_count_ranking height="350" width="800"

= javascript_include_tag 'admin/chart'
