nav.navbar.navbar-admin
  .container.admin-container
    .nav-wrapper
      a.brand-logo href=admin_path
        | Brand Name
      ul#nav-mobile.right.side-nav
        li
          a href=root_path 本サイトへ
        - if current_admin_user && current_admin_user.manager? || current_admin_user && current_admin_user.member?
          li
            a href=admin_manager_articles_path 全記事一覧(Admin)
          li
            a href=admin_manager_admin_users_path ユーザー一覧
          li
            a href=admin_manager_rankings_path ランキング
          li
            a.dropdown-button href='#!' data-activates='dropdown1' Writerメニュー
        - if current_admin_user && current_admin_user.writer?
          li
            a href=admin_articles_path 記事一覧
          li
            a href=new_admin_article_path 記事作成
          li
            a href=edit_admin_user_registration_path プロフィール編集
          li
            a href=destroy_admin_user_session_path ログアウト
      a.button-collapse data-activates="nav-mobile" href="#" 
        i.mdi-navigation-menu
- if current_admin_user && current_admin_user.manager? || current_admin_user && current_admin_user.member?
  ul#dropdown1.dropdown-content
    li
      a href=admin_articles_path 記事一覧
    li
      a href=new_admin_article_path 記事作成
    li
      a href=edit_admin_user_registration_path プロフィール
    li
      a href=destroy_admin_user_session_path ログアウト
javascript:
  $(".dropdown-button").dropdown({
    hover:false
  });
