doctype html
html
  head
    = render 'shared/metatags'
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    - if params[:controller].include?('admin')
      = favicon_link_tag '/favicon_admin.ico'
    - else
      = favicon_link_tag '/favicon.ico'
    = favicon_link_tag 'sp-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/
    = render 'layouts/ga'
  body
    - if params[:controller].include?('admin')
      = render 'admin/shared/nav'
      .container.page-wrap.admin-container
        - if notice
          .row
            p.notice.card = notice
        - if alert
          .row
            p.alert.card = alert
        = yield
      = render 'admin/shared/footer'
    - else
      = render 'shared/nav'
      .container.page-wrap
        - if notice
          .row
            p.notice.card = notice
        - if alert
          .row
            p.alert.card = alert
        = yield
      = render 'shared/footer'
